* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 40px 0;
    text-align: center;
    color: #e53170;
}

header > p {
    text-align: center;
    font-weight: 300;
}

